/.venv/
/env/
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.pytest_cache/
.mypy_cache/
*.log
*.tmp
/.idea/
/.vscode/
*.DS_Store
.coverage
*.ipynb_checkpoints/
**/.ipynb_checkpoints/
/wine-clustering.csv
